/* Projects Page Styling */
.projects-container {
    height: auto;
    border-radius: 25px;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    background-color: #0d1117;
    color: white;
  }
  
  .projects-title {
    font-size: 2.5rem;
  }
  
  .projects-card {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 2rem;
    margin: 1rem;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .projects-card:hover {
    transform: scale(1.05);
  }
  
  .projects-card-title {
    font-size: 1.8rem;
    color: white;
  }
  
  .projects-card-description {
    color: #a8b3cf;
  }
  
  .projects-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .projects-modal-content {
    background-color: #1f2329;
    padding: 2rem;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    position: relative;
    text-align: left;
    animation: fadeIn 0.5s ease;
  }
  
  .projects-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .projects-close-btn:hover {
    background-color: #333;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .projects-card {
      padding: 1.5rem;
    }
  
    .projects-modal-content {
      max-width: 100%;
      padding: 1.5rem;
    }
  
    .projects-title {
      font-size: 2rem;
    }
  
    .projects-card-title {
      font-size: 1.5rem;
    }
  
    .projects-card-description {
      font-size: 1rem;
    }

    .projects-container {
        height: 100%;
        margin-top: 0;
        border-radius: 0;
    }
  }
  
  /* Fade in animation for modal */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  