.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #1a1a1ada;
}

.animated-logo {
  font-size: 4.5rem;
  font-weight: 800;
  background: linear-gradient(45deg, #ff6200, #ff8c00, #ff4400, #ff6200);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradientFlow 8s linear infinite;
  margin-bottom: -10px;
  animation: fadeIn 1s ease-in;
}

.logo-underline {
  height: 4px;
  width: auto;
  background: linear-gradient(90deg, #ff6200, #ff4400);
  margin-top: 0;
  margin-bottom: 0.5rem;
  animation: underlineGrow 1s forwards ease-out;
}

.hero-tagline {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.9);
  animation: fadeIn 1s ease-in;
}

.hero-quote {
  max-width: 800px;
  width: 90dvw;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 1.25rem;
  line-height: 1.6;
  animation: fadeinup 1s ease-out;
}

.hero-quote p {
  animation: fadeinup 1s ease-out;
}

.main-call-to-action-btn {
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  margin-top: 35px;
  font-size: 2.5rem;
  font-weight: 800;
  background: linear-gradient(90deg, #ff6200, #ff8c00, #ff4400);
  background-size: 200% 200%;
  color: white;
  animation: gradientFlow 6s linear infinite, fadeIn 1s ease-in; /* Simple idle animation */
  transition: 0.3s;
}

.main-call-to-action-btn:hover {
  box-shadow: 0px 0px 20px #ff4400;
  scale: 1.05;
  transition: 0.4s;
}

.main-call-to-action-btn:active {
  scale: 1;
  transition: 0.05s;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes underlineGrow {
  from {
    opacity: 0;
    width: 0px;
  }
  to {
    opacity: 1;
    width: 510px;
  }
}

@keyframes fadeinup {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .animated-logo {
    font-size: 4rem;
  }

  .main-call-to-action-btn {
    box-shadow: 0px 0px 20px #ff4400;
  }

  .main-call-to-action-btn:hover {
    scale: 1;
  }

  @keyframes underlineGrow {
    from {
      opacity: 0;
    }
    to {
      width: 450px;
    }
  }
}